<div class="row">
    <div class="continer col s12 m8">
        <div class="center-align card-content"></div>
            <table>
                <thead>
                    <tr>
                        <th> Hama </th>
                        <th> {{hama.hama}} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Tanaman </td>
                        <td>{{hama.tanaman}}</td>
                    </tr>
                    <tr>
                        <td> Gambar </td>
                        <td><img class="img-small" src="{{hama.gambar}}" alt=""></td>
                    </tr>
                    <tr>
                        <td> Obat </td>
                        <td>{{hama.obat}}</td>
                    </tr>
                </tbody>
            </table>
                    <br>
                </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{hama.user.displayName}}</span>
                <img src="{{hama.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/stories/user/{{story.user._id}}">More From {{hama.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>